//@import "retina/retina";
@codeFontName: 'Roboto Mono';
@headerFontName: 'Roboto Condensed';
@codeFont: @codeFontName, 'Helvetica Neue', Arial, Helvetica, sans-serif;
@tabletBreakpoint: 768px;
@computerBreakpoint: 992px;
@largeMonitorBreakpoint: 1200px;
@blue: #1254B0;
@red: #CD2E41;
.page#price {
  #clock-offer {
    font-family: @codeFont;
    color: @blue;
    padding-bottom: 45px;
    @media only screen and (max-width: (@tabletBreakpoint - 1)) {
      padding-bottom: 15px;
    }
    .price-description {
      text-align: center;
      @media only screen and (max-width: (@tabletBreakpoint - 1)) {
        margin-bottom: 1em;
      }
      .ui.header > .image, .ui.header {
        > img {
          width: auto;
          margin-top: -8px;
        }
      }
      @media only screen and (max-width: (@tabletBreakpoint - 1)) {
        width: 100% !important;
      }
      font-size: 1.0666666em;
      font-weight: bold;
      position: relative;
      .clamp {
        position: absolute;
        top: 1.07em;
        &.left {
          left: -9em;
        }
        &.right {
          right: -9em;
        }
        @media only screen and (max-width: (@tabletBreakpoint - 1)) {
          &.left {
            left: -0.2em;
          }
          &.right {
            right: -0.2em;
          }
        }
        @media (max-width: 460px) {
          &.left {
            left: -3em;
          }
          &.right {
            right: -3em;
          }
        }
      }
    }
    #papers {
      margin-top: 15px;
      position: relative;
      .one-thousand-papers {
        //position: absolute;
        //top: 1em;
        //left: 4.7em;
        //@media only screen and (min-width: @computerBreakpoint) and (max-width: (@largeMonitorBreakpoint - 1)) {
        //  left: 1.5em;
        //}
        //@media only screen and (min-width: @tabletBreakpoint) and (max-width: (@computerBreakpoint - 1)) {
        //  left: 1.2em;
        //}
        height: 210px;
        width: 424px;
        margin: 0 auto;
        @media (max-width: 451px) {
          height: 168px;
          width: 329px;
        }
        .paper {
          &.back {
            position: relative;
          }
          &.front {
            position: absolute;
            top: 3em;
            left: 3em;
          }
          img {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
            width: 377px;
            height: 161px;
            @media(max-width: 450px) {
              width: 282px;
              height: 120px;
            }
          }
        }
      }
    }
    #equal-sign__wrapper {
      font-size: 6em;
      color: @red;
      @media (max-width: 767px) {
        padding-left: 1.1rem;
      }
      #equal-sign__sign {
        padding-top: 1.3rem;
        @media (max-width: 767px) {
          text-align: center!important;
        }
        @media (min-width: 768px) {
          padding-top: 6.8rem;
        }
        @media (min-width: 992px) {
          padding-left: 6rem;
        }
      }
    }
    #clocks {
      padding-top: 3em;
      #clocks__wrapper {
        text-align: center;
        margin-top: 40px;
        @media (min-width: 768px) {
          margin-top: 12px;
        }
      }
    }
  }
  .notice {
    font-family: @headerFontName;
    padding-bottom: 3em;
  }
  #price-descriptions {
    .description {
      min-height: 310px;
      border-radius: 8px;
      margin-bottom: 3em;
      @media only screen and (max-width: (@computerBreakpoint - 1)) {
        padding: 1rem;
      }
      &.tomato {
        border: 3px solid #358101;
        background: #D5E6E5;
        span#pomodoro {
          color: #CA2235;
          margin-right: -43px;
          font-weight: bold;
          img {
            position: relative;
            top: -5px;
            left: -56px;
          }
        }
        .img.large {
          background: url(/static/img/adminoid/pages/price/tomato-img.jpg) 100% 0 no-repeat;
          //.retina('/static/img/adminoid/pages/price/tomato-img.jpg', 2, auto, 100% 0 no-repeat);
        }
        .img.small {
          img {
            @media only screen and (min-width: @tabletBreakpoint) and (max-width: (@computerBreakpoint - 1)) {
              height: 40vh;
              width: 40vw;
              object-fit: cover;
              object-position: 90% 10%;
            }
          }
        }
      }
      &.video {
        background-image: linear-gradient(-180deg, #EDE9EA 0%, #EDE9EA 52%, #EAE8E9 79%, #E8E2E4 100%);
        border: 3px solid #FF981C;

        .img.large {
          background: url(/static/img/adminoid/pages/price/girl-with-camera.jpg) 100% 50% no-repeat;
          //.retina('/static/img/adminoid/pages/price/girl-with-camera.jpg', 2, auto, 100% 50% no-repeat);
        }
      }
      &.speed {
        //background: #F6F6F6;
        border: 3px solid #CA2235;
        .img.large {
          background: url(/static/img/adminoid/pages/price/speed-img.jpg) 100% 50% no-repeat;
          //.retina('/static/img/adminoid/pages/price/speed-img.jpg', 2, auto, 100% 50% no-repeat);
        }
        .img.small {
          img {
            @media only screen and (min-width: @tabletBreakpoint) and (max-width: (@computerBreakpoint - 1)) {
              height: 40vh;
              width: 40vw;
              object-fit: cover;
              object-position: 90% 10%;
            }
          }
        }
      }
      &.greed {
        background: #F7F7F7;
        border: 3px solid #1254B0;
        .img.large {
          background: url(/static/img/adminoid/pages/price/greed-img.jpg) 0% 50% no-repeat;
          //.retina('/static/img/adminoid/pages/price/greed-img.jpg', 2, auto, 0% 50% no-repeat);
        }
      }
      &.total {
        background: #FFF;
        border: 3px solid #418B1B;
        .img.large {
          background: url(/static/img/adminoid/pages/price/money-img.jpg) 50% 50% no-repeat;
          //.retina('/static/img/adminoid/pages/price/money-img.jpg', 2, auto, 50% 50% no-repeat);
        }
      }
      .column.img {
        @media only screen and (max-width: (@computerBreakpoint - 1)) {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          vertical-align: middle;
          -ms-flex-item-align: center !important;
          align-self: center !important;
        }
        .img.large {
          width: 100%;
          height: 100%;
        }
        .img.small {
          img {
            margin: auto;
          }
        }
      }
      .text {
        font-family: @codeFont;
        font-size: 14px;
      }
      > .column.img {
        padding: 0;
      }
    }
  }
}